<h1>New Contact</h1>
<%= form_tag "/contacts", method: :post, class: "form-horizontal" do %>
  <div class="form-group">
    <%= label_tag :first_name, "First Name", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= text_field_tag :first_name, nil, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag :middle_name, "Middle Name", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= text_field_tag :middle_name, nil, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag :last_name, "Last Name", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= text_field_tag :last_name, nil, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag :email, "Email", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= text_field_tag :email, nil, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag :phone_number, "Phone Number", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= text_field_tag :phone_number, nil, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag :bio, "Bio", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= text_area_tag :bio, nil, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <%= submit_tag "Create Contact", class: "btn btn-default" %>
    </div>
  </div>
<% end %>